input.ng-touched.ng-invalid
{
	border-color: red;
}

div.validation-error
{
	width: 100%;
	margin-top: .25rem;
	font-size: 14px;
	color: red;
}

table.table-hover tbody tr:hover
{
	cursor: pointer;
}

.custom-dialog-container .mat-dialog-container 
{
    padding: 10px !important;
}

#search {
	position: relative;
	margin-left: 120px;
}

#create {

	width:auto;margin:auto;position: relative;
}